<p style="color: green"><%= notice %></p>

<%= render @post %>
<%= render "posts/comments", post: @post %>

<div>
  <%= link_to "Редактировать эту заметку", edit_post_path(@post) %> |
  <%= link_to "Назад к заметкам", posts_path %>

  <%= button_to "Удалить эту заметку", @post, method: :delete %>
</div>
